.Sign-In{
    width: 380px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding: 15px 0;
        .logo{
            padding: 10px 0;
        }

      }
      .note{
          color:red;
          font-family: 'Source Code Pro';
          font-size: 14px;

      }
    
}